@model TheatreCMS3.Areas.Prod.Models.ProductionPhotos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal ProductionPhotos-CreateEdit-Container">
    <h4>Create Production Photo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn ProductionPhotos-CreateEdit-SubmitBtn" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "ProductionPhotos-CreateEdit-BackBtn" })
        </div>
    </div>

    <div class="ProdPhotos-CreateEdit-File">
        <form action="/action_page.php">
            <input type="file" name="filename">
            <input type="submit">
            <br />
            <br />
            <img src="~/Content/images/Sample Image.jpg" alt="sample image" class="ProdPhotoSample"/>
        </form>
     </div>

</div>
}

<div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
